Repository manbearwiz/vitest-tiny-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, test

format:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

test:
  run: npx vitest related --silent --no-color --no-clearScreen --run {staged_files}
  fail_text: Tests failed

Notes added by 'git notes add'
  0a90257db4b50ed824c92684f2e3e313b2a5aa63
Due: none

build(deps-dev): bump @tsconfig/strictest; remove @tsconfig/recommended
  package-lock.json
  package.json
Due: format

docs(readme): better comparison
  README.md
Due: none

build(dev-deps): pin npm@11.6.2 https://github.com/npm/cli/issues/8669
  README.md
  package-lock.json
  package.json
Due: format

docs(readme): better layout
  README.md
Due: none

Notes added by 'git notes add'
  e90077135a73f11adec03daa72690da8aee1cb3f
Due: none

Notes added by 'git notes add'
  14a05d51a618075f6a68af4bdba0699904bbc837
Due: none

Notes added by 'git notes add'
  e616e1b60b126f2c8ed20a5d0491e98a26e69ead
Due: none

Notes added by 'git notes add'
  5de839d873907c196561f6d8aba227e6e10dabf2
Due: none

build(deps-dev): bump vite from 7.3.3 to 8.0.12
  package-lock.json
  package.json
  vite.config.ts
Due: format, test

Notes added by 'git notes add'
  0bbf77e30b39ff7484ed4166e9248f3a60f49331
Due: none

Notes added by 'git notes add'
  07d7d3810a9c14239d19f0e194b75e95c176a4be
Due: none

build(dev-deps): ts7
  package-lock.json
  package.json
  tsconfig.types.json
Due: format

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.ts
